# Instagram Profile Scraper - Configuração de Proxy
# Opcional: Descomente e configure se precisar usar proxy
# Exemplo: PROXY=http://dewawad123ln-611:pasdqwjjpsfiwsn@p.webshare.io:80/


PROXY=http://usuario:senha@host:porta
